import('GenomicAlignments')
import('randomForest')


export(get.reads,get.motif,get.motifbin,countmotifsegreads,motifbincount,
       motifRFid,motifbinRFfdr,innerprocal,clsnumcount,motifclstest,DynaMO,DynaMOs,fitfunc)
