import('GenomicAlignments')
import('randomForest')
import('fpc')

export(get.reads,get.motif,get.motifbin,countmotifsegreads,motifbincount,
       motifRFid,motifbinRFfdr,innerprocal,motifclstest,DynaMO)
